body {
font-family: Arial, sans-serif;
  font-size: 10pt;
  background-color: #CCC;
}

#leftmenu {
  margin-top: -10px;
  padding: 0 25px 0 10px;
  float: left;
  width: 260px;
  height: 100%;
}

.leftmenu-background {
  margin-left: -20px;
  padding: 16px 22px;
  
  background: #bacdeb;
  width: 70%;
  height: 100%;
  
  -webkit-box-shadow: 0 0 4px #000;
}

a:link, a:visited {
  color: #1a9bfe;
}


.title {
/**  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;**/
  font-weight: bold;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 5px #666;
  -webkit-transform: rotate(-4deg) translateX(45px) translateY(15px);
}

#menubar {
  width: 165px;
  padding: 10px 18px 18px 48px;
  -webkit-border-radius: 24px;
  height: 200px;
  color: white;  
}

#menubar ul {
  padding: 14px 0 0 24px;
  list-style-type: none;
}

#menubar ul li {
  padding: 1px;
  color: #8e8e8e;
}

#content {
  padding-top: 50px;
}

.tweet-box {
}

.tweet-box .avatar {
  float: left;
  padding: 2px 18px 0 0;
}

.tweet-box .avatar img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 4px;
  /*
    -webkit-box-reflect:below 2px
      -webkit-gradient(linear,
        left top,
        left bottom,
        from(transparent),
        color-stop(0.7, transparent),
        color-stop(1.0, rgba(255, 255, 255, 255))
      );*/
}

div.tweet {
  overflow: hidden;
  padding: 6px;
  width: 570px;
  margin: 16px 0px;
  background:
   -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, #FFF),
      color-stop(0.58, #FEFEFE),
      color-stop(0.8, #EDEDED),
      color-stop(1.0, #DFDFDF)
  );
  /** TODO:gradient for safari4/chrome**/
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #666;
}

.tweet .topline {
  padding: 2px 0 0 0;
}

.tweet .topline .author {
  float: left;
  color: #000;
  font-weight: bold;
  padding: 0 0 0 3px;
}

.tweet .text {
  width: 100%;
  float: left;
  padding: 4px;
  color: #333;
}

.tweet .meta {
  margin-top: -12px;
  width: 100%;
  float: left;
  font-size: 10px;
  color: #CACACA;
}

.tweet .topline .icons {
  margin: -6px -3px 0 0;
  float: right;
}

.label-container {
  float: right;
  padding: 4px 6px 2px 0px;
}

.label-container span {
  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
  padding: 0 10px;
  margin-left: 4px;
  font-size: 9px;
  border: 1px #CCC solid;
  -webkit-border-radius: 4px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, #FFF),
      color-stop(0.7, #DDD),
      to(#DDD)
    );
  color: #999;
}

.tweet div.slider {
  float: left;
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: -8px;
  
  cursor: pointer;
}

/** Indicate that the slider is available **/
.tweet div.sliderhover {
  opacity: 0.2;
  background-image: -webkit-gradient(
       linear,
       left top,
       left bottom,
       color-stop(0.0, #FFF),
       color-stop(0.7, #000),
       to(#000)
     );
}


.tweet div.gutter {
  display: none;
  float: left;
  width: 100%;
  
/*  font-weight: bold;*/
  color: #999;
  
  margin-left: -6px;
  margin-top: 10px;
  padding: 6px 8px 9px 75px;
  border-top: 1px solid #DADADA;
  
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      
      from(#efefef),
      color-stop(0.2, #fefcf3),
      color-stop(0.5, #fefefe),
      color-stop(0.8, #fff),
      to(#efefef)
    );
    
  -webkit-box-shadow: 0 0 14px #CECECE;
}

.tweet div.more {
  display: none;
  float: left;
  padding: 6px 10px 2px 6px;
  width: 100%;

  
  font-size: 11px;
  margin: 0 0 0 -6px;
  
  border-top: 1px solid #e3e3e3;

  background:
   -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, #EDEDED),
      color-stop(0.28, #FEFEFE),
      color-stop(0.8, #EDEDED),
      color-stop(1.0, #DFDFDF)
  );
}

.tweet .more .action {
  float: right;
  height: 16px;
  padding-left: 8px;
  padding-right: 4px;
}

.tweet .more div.info {
  float: left;
  
  padding: 2px;
  color: #777;
}

/** icons for action links */
.tweet .more .action img {
  padding: 0 4px;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

/** popovers **/
.popover {
  padding: 10px;
  position: absolute;
  
  /** arbitrary positioning and sizing **/
  top: 40px;
  left: 1000px;
  
  width: 340px;
  
  -webkit-border-radius: 8px;
  
  background-color: white;
  -webkit-box-shadow: 3px 6px 15px #444;
}

/** CSS transitions for popover **/
.popin:hover {
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.35s; 
  -webkit-animation-iteration-count: 1;
}




.popover .line {
  padding: 4px 0;
  border-bottom: 1px dashed #EDEDED;
  height: 50px;
}

.popover .line .author {
  width: 100%;
  padding: 0 2px 0 0;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.popover .line .author .time {
  font-weight: normal;
  font-size: 11px;
  float: right;
  
  color: #68aaf0;
}

.popover .line .text {
  width: 100%;
  padding: 2px 0 0 0;
  color: #C0C0C0;
}

.popover .line .meta {
  position: relative;
  bottom: -3px;
  padding: 0 0 0 2px;
  font-size: 11px;
  color: #AAA;
}

.popover .line .meta .icons {
  float: right;
}

/** info icons **/
.icon-pic {
  width: 16px;
  height: 16px;
  background: #FFF url("images/pictures.png") no-repeat;
}

.icon-replies {
  width: 24px;
  height: 24px;
  opacity: 0.35;
  background: #FFF url("images/reply.png") no-repeat;
}

.icon-replies:hover {
  opacity: 0.8;
  background: #FFF url("images/reply.png") no-repeat;  
  
  -webkit-animation-name: icon-fade-in;
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: 1;
}

.tweet-box div.sticker-fave {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("images/fave_sticker.png") no-repeat;
}
