body {
font-family: Arial, sans-serif;
  font-size: 10pt;
  background-color: #CCC;
}

#leftmenu {
  padding: 4px 25px 0 4px;
  float: left;
  width: 21%;
  height: 100%;
}


.title {
/**  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;**/
  font-weight: bold;
  color: white;
  font-size: 32px;
  text-shadow: 1px 1px 3px #666;
  -webkit-transform: rotate(-4deg) translateX(50px) translateY(8px);
}

#menubar {
  width: 50%;
  padding: 18px;
  background: #343434;
  -webkit-border-radius: 24px;
  height: 92%;
  margin-bottom: -25px;
  color: white;
}

.content {
  
}

.tweet-box {
  overflow: hidden;
}

.tweet-box .avatar {
  float: left;
  padding: 9px 18px 0 0;
}

.tweet-box .avatar img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 4px;
  /*
    -webkit-box-reflect:below 2px
      -webkit-gradient(linear,
        left top,
        left bottom,
        from(transparent),
        color-stop(0.7, transparent),
        color-stop(1.0, rgba(255, 255, 255, 255))
      );*/
}

.tweet {
  overflow: hidden;
  width: 570px;
  padding: 6px;
  margin: 8px 0px;
  background:
   -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, #FFF),
      color-stop(0.58, #FEFEFE),
      color-stop(0.8, #EDEDED),
      color-stop(1.0, #DFDFDF)
  );
  /** TODO:gradient for safari4/chrome**/
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px #666;
}

.tweet .topline {
  padding: 2px 0 0 0;
}

.tweet .topline .author {
  float: left;
  color: #000;
  font-weight: bold;
  padding: 0 0 0 3px;
}

.tweet .text {
  width: 100%;
  float: left;
  padding: 4px;
  color: #333;
}

.tweet .meta {
  margin-top: -12px;
  width: 100%;
  float: left;
  font-size: 10px;
  color: #CACACA;
}

.tweet .topline .icons {
  float: right;
}

.label-container {
  float: right;
  padding: 4px 6px 2px 0px;
}

.label-container span {
  font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
  padding: 0 10px;
  margin-left: 4px;
  font-size: 9px;
  border: 1px #BBF solid;
  -webkit-border-radius: 8px;
  background-color: #EAEAFF;
  color: #555;
}

/** popovers **/
.popover {
  padding: 10px;
  position: absolute;
  
  /** arbitrary positioning and sizing **/
  top: 240px;
  left: 600px;
  
  width: 340px;
  
  -webkit-border-radius: 8px;
  
  background-color: white;
  -webkit-box-shadow: 3px 6px 15px #444;
}

/** CSS transitions for popover **/
.popin:hover {
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.35s; 
  -webkit-animation-iteration-count: 1;
}


/** a pulse animation **/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
  }
  35% {
    -webkit-transform: scale(1.10);
  }
  65% {
    -webkit-transform: scale(1.00);
  }
  90% {
    -webkit-transform: scale(1.02);
  }
  to { 
    -webkit-transform: scale(1.0);
  }
}


.popover .line {
  padding: 4px 0;
  border-bottom: 1px dashed #EDEDED;
  height: 50px;
}

.popover .line .author {
  width: 100%;
  padding: 0 2px 0 0;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.popover .line .author .time {
  font-weight: normal;
  font-size: 11px;
  float: right;
  
  color: #68aaf0;
}

.popover .line .text {
  width: 100%;
  padding: 2px 0 0 0;
  color: #C0C0C0;
}

.popover .line .meta {
  position: relative;
  bottom: -3px;
  padding: 0 0 0 2px;
  font-size: 11px;
  color: #AAA;
}

.popover .line .meta .icons {
  float: right;
}

/** info icons **/
.icon-pic {
  width: 16px;
  height: 16px;
  background: #FFF url("images/pictures.png") no-repeat;
}

.icon-replies {
  width: 16px;
  height: 16px;
  background: #FFF url("images/comments.png") no-repeat;  
}