div.todo {
  margin: 1px 0;
}

/** offset the text a bit from the checkbox **/
div.todo span {
  padding-left: 6px;
}

div.todo div.due {
  padding: 8px 18px;
  float: right;
  border-left: 1px solid #DDD;
  margin: -4px 0;
  
  color: #AAA;
  font-size: 9px;
}